<div class="sidebar d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
    <div class="flex-grow-1" style="height: 100vh;"> 

    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <div class="logo">
        <img class="fpimage" src="../../assets/tabler-icon-currency-dollar.svg" alt="FinancePal"/> 
        <p class="financepal">FinancePal</p>
      </div>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a routerLink="income" class="nav-link  d-flex align-items-center text-white" aria-current="page">
            <i class="bi bi-wallet2"></i>
            <span class="ms-2">Income</span>
        </a>
    </li>
    

    <li class="nav-item">
      <a routerLink="transactions" class="nav-link  d-flex align-items-center text-white" aria-current="page">
        <i class="bi bi-bank2"></i>
          <span class="ms-2">Transactions</span>
      </a>
  </li>



      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
          Orders
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
          Products
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          Customers
        </a>
      </li>
    </ul>
    <hr>
  
    </div>
  </div>