
  <div class="jumbotron jumbotron-fluid col-11" style="background-color: #daf0f7 ; margin: 1%; padding: 5%;">
    <div class="container">
      <h1 class="display-4">    Income:</h1>
      <hr class="my-4">
      <form #IncomeForm="ngForm" (ngSubmit)="AddIncome(IncomeForm)">
        <div class="col-4">
        <div class="form-group">
          <label style="margin-top: 1%;" for="salary">Salary</label>
          <input style="margin-top: 1%;" ngModel #salary="ngModel" name ="salary" required  type="string" class="form-control" id="salary" aria-describedby="salary" placeholder="Enter Salary Amount">
          <div class ="text-danger mt-1" *ngIf="(salary.errors?.['required'] && salary.dirty) || (salary.errors?.['required'] && salary.touched)">
            salary is required! - enter 0 if not available
                </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label for="dividend" style="margin-top: 1%;">Other Income</label>
          <input type="string" ngModel #otherincome="ngModel" name ="otherincome" required  class="form-control" id="dividend" placeholder="Enter Other Income Amount" style="margin-top: 1%;">
          <div class ="text-danger mt-1" *ngIf="(otherincome.errors?.['required'] && otherincome.dirty) || (otherincome.errors?.['required'] && otherincome.touched)">
            otherincome is required! - enter 0 if not available
                </div>
        </div>
      </div>

    
        <button type="submit" class="btn text-white" style="margin-top: 1%; background-color: blue;">Submit</button>
      </form>
    </div>
  </div>

  